/*Global Styling*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #242742;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/*Content Styling*/
.card-container {
    width: 928px;
    height: 641px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    padding: 2rem;
}

.desktop-img img{
    width: 400px;
    height: 593px;
}

.card-content {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.card-content h1{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.card-content p{
    color: #242742;
    font-size: 16px;
}

#join{
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.card-checklist {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.card-checklist .item{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.card-content img {
    width: 21px;
    height: 21px;
}

/*Form Styling*/
input{
    width: 376px;
    height: 56px;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.btn-subscribe{
    width: 376px;
    height: 56px;
    background-color: #242742;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}

.btn-subscribe:hover {
    border: none;
    background: rgb(255,106,58);
    background: linear-gradient(90deg, rgba(255,106,58,1) 0%, rgba(255,82,123,1) 100%);
}

label {
    font-size: 12px;
    font-weight: 700;
    color: #242742;
    margin-bottom: 1rem;
}


#email{
    border-color: #19182B;
    opacity: 0.5;
    text-indent: 1rem;
}

/*Success Message Style*/
.success-card {
    display: none;
    position: fixed;
    background-color: white;
    border-radius: 2rem;
}

.success-content {
    width: 504px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3.5rem;
}

.success-content h2 {
    font-size: 56px;
    font-weight: 700;
    color: #242742;
    margin-bottom: 2rem;
}

.success-content p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2rem;
}

.success-content img {
    width: 64px;
    height: 64px;
    margin-bottom: 1rem;
}

.btn-dismiss{
    width: 376px;
    height: 56px;
    background-color: #242742;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}

.btn-dismiss:hover {
    border: none;
    background: rgb(255,106,58);
    background: linear-gradient(90deg, rgba(255,106,58,1) 0%, rgba(255,82,123,1) 100%);
}

#user-email{
    color: #242742;
    font-weight: bold;
}

/*Email Error*/
#email-error {
    color: #FF6155;
    font-size: 12px;
    font-weight: 700;
    display: inline;
    margin-left: 11rem;
}

.input-error {
    border-color: #FF6155;
    background-color: rgba(255, 97, 85, 0.5);;
}

/*Media Query for Mobile*/

